<div class="container">
  <img src="https://internet-bilet.ua/images/room_header_photo/size3/hph_1487772919_58ad9cf795efe.jpg"
      alt="">
  <p class="title">Театр опери та балету</p>
  <p class="text">Дніпропетро́вський академі́чний теа́тр о́пери та бале́ту — театр у місті Дніпрі, розміщений на проспекті Дмитра Яворницького, 72-а.
    Вперше у Дніпропетровську оперний театр був відкритий у 1931 році як Дніпропетровський робітничий оперний театр. У 1934—1937 роках у 
    театрі виступав Арсенко Арсен Діонисович. З початком війни театр було евакуйовано до Красноярська, де дніпровську оперу
    об'єднали з одеською трупою і після війни вже не відновили.</p>
  <div class="ButtonMore"><span class="textButton">Knopka</span></div>
  <button
    (click)="onClose()"
    class="container__btn-close"
  >
    &times;
  </button>
</div>
