.container{
    position: absolute;
    display: block;
    padding: 6%;
    align-items: center;
    margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 1%;
  box-shadow: 0px 0px 30px rgba(1, 1, 1, 0.1);
}

.container__btn-close{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.title {
  margin-top: 1rem;
  font: small-caps bold 1.2rem sans-serif;
  text-align: center;
}

.text {
  margin-top: 1rem;
  font: sans-serif;
  font-size: 17px;
}

.ButtonMore {
top:10px;
width: 220px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
background:	white;
position: relative;
border-top-left-radius: 35px;
border-top-right-radius: 35px;
border-bottom-left-radius: 35px;
border-bottom-right-radius: 35px;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
text-align: center;
color: black;
font-weight: normal;
transition: .2s ease-in-out;
}

.textButton {
position: relative;
font-family: sans-serif;
font-size: 25px;
top: 10px;
}

.ButtonMore:hover {
background: 	rgb(36, 36, 36);
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
color: 	white;
cursor: pointer;
}

.ButtonMore:active {
width: 210px;
height: 45px;
}
