<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="onSubmit()"
  class="container"
>
  <label
    for="password"
    class="container__label"
  >
    Enter your password*
  </label>
  <input
    id="password"
    type="password"
    class="container__password"
    formControlName="password"
  >

  <div
    class="container__error"
    *ngIf="submitted && password!.errors"
  >
    <div
      *ngIf="password!.errors['required']"
    >
      This field is required
    </div>
  </div>

  <label
    for="confirm-password"
    class="container__label"
  >
    Confirm your password*
  </label>

  <input
    id="confirm-password"
    type="password"
    class="container__password"
    formControlName="confirmPassword"
  >

  <div
    class="container__error"
    *ngIf="submitted && confirmPassword!.errors"
  >
    <div
      *ngIf="confirmPassword!.errors['required']"
    >
      This field is required
    </div>
  </div>

  <button
    class="container__submit-btn"
    type="submit"
  >
    Submit
  </button>
</form>
