
.login-container{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  align-items: center;
  background-color: #fff;
  color: #000;
  justify-content: center;
  height: 100%;
  margin: 2rem;
}

.login-container__label{
  margin-bottom: 1rem;
}

.login-container_email,
.login-container_password{
  font-size: 1.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.login-container__submit-btn{
  font-size: 1.6rem;
  padding: .5rem;
  width: 50%;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 100px;
  border: none;
  background-color: #000;
  color: #fff;
}

.login-container__error{
  color: rgb(255, 7, 7);
  margin-bottom: 1rem;
}

.login-container__buttons{
  margin-top: 1rem;
}

.forgot-password-btn{
  cursor: pointer;
}

.forgot-password-btn:hover{
  text-decoration: underline;
}

input{
  font-size: 1.6rem;
  padding: .5rem;
  width: 20rem;
  margin-bottom: 1rem;
}
