<form
  [formGroup]="forgotPasswordForm"
  (submit)="onSubmit()"
  class="container"
>
  <label
    for="f-email"
    class="container__label"
  >
    Enter your email*
  </label>
  <input
    id="f-email"
    type="text"
    class="container__email"
    formControlName="email"
  >

  <div
    class="container__error"
    *ngIf="submitted && email!.errors"
  >
    <div
      *ngIf="email!.errors['required']"
    >
      This field is required
    </div>
    <div
      *ngIf="email!.errors['email']"
    >
      Must be a valid email
    </div>
  </div>

  <button
    class="container__submit-btn"
    type="submit"
  >
    Submit
  </button>
</form>
